.report-summary {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.report-card {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    color: #fff;
    text-align: center;
}

.view-report-btn {
    padding: 10px 20px;
    background-color: #6d60e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-report-btn:hover {
    background-color: #422feb;
}

.salesChart {
    height: 5 00px;
    max-width: 600px;
    margin: 20px auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #444;
    color: #fff;
}
.filter-buttons{
    display: flex;
    justify-content: center;
}
.filter-buttons button{
    margin-right: 50px;
    background-color: #6d60e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;

}
.filter-buttons button:hover {
    background-color: #422feb;
}
.bst-selling{
    display: flex;
    justify-content: center;
}
#bestSellingCategoriesTable{
    margin-left: 10px;
}
#bestSellingProductsTable{
    margin-left: 10px;
}
.graphs{
    display: flex;
    margin-left: 20px;
    height: 500px;
}